<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileCreationListener.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <FileCreationListener.Properties.Settings>
            <setting name="sourceDir" serializeAs="String">
                <value>C:\\Users\\ChristopherBlack\\AutoCAD\\test_source</value>
            </setting>
            <setting name="destinationDir" serializeAs="String">
                <value>C:\\Users\\ChristopherBlack\\AutoCAD\\test_dest</value>
            </setting>
            <setting name="searchPattern" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="exclusionKeyWords" serializeAs="String">
                <value>coating</value>
            </setting>
            <setting name="deleteSourceFile" serializeAs="String">
                <value>False</value>
            </setting>
        </FileCreationListener.Properties.Settings>
    </userSettings>
</configuration>
